/* 
    Document    : Default
    Author      : Martin Polakovic
    Description : skin
*/

.root {

    skin-main-color: rgb(150,200,220);

    -fx-font-family: "Arial";
    -fx-font-size: 11;
    -fx-def-font-color: rgb(150,200,220);
    -fx-def-font-color-hover: rgb(190,205,220);
    -fx-sel-font-color: rgb(175, 175, 176);
    -fx-prompt-font-color: rgb(165, 165, 165);
    
    -fx-pane-color: rgba(0,0,0,0.3);
}

.block {
    -fx-background-color: -fx-pane-color;
}


.window > .brg-image {
    -fx-opacity:1;
    -fx-background-image: url("bgr.jpg");
    -fx-background-size: stretch;
}


.header {
    -fx-background-color: rgb(0,0,0);  // emulate -fx-pane-color
    -fx-opacity: 0.3;                  // emulate -fx-pane-color
}
.window:focused > .header {
    // lets signal which window has focus by altering the header border
    // improve this
    -fx-border-color: 
        transparent transparent derive(-fx-pane-color,50%) transparent,
        derive(-fx-pane-color,80%) rgba(0, 0, 222, 0.3) rgba(0, 0, 0, 0.3) derive(-fx-pane-color,80%);
    -fx-border-width: 2.5, 2.5;
    -fx-border-insets: -2, -1;
}

.window > .w-border {
    -fx-background-color: -fx-pane-color;
}

.item-picker-element {
    -fx-background-color: -fx-pane-color;
    -fx-padding: 0.3em 0.7em 0.3em 0.7em;
}
.item-picker-element:hover {
    -fx-background-color: rgba(20,20,30,0.85);
    -fx-background-insets: -0.2em -0.2em -0.2em -0.2em;
}





.scroll-bar:horizontal {
    -fx-background-color: null;
    -fx-background-insets: 0, 1 0 1 0;
}
.scroll-bar:vertical {
    -fx-background-color: null;
    -fx-background-insets: 0, 0 1 0 1;
}
.scroll-bar:focused {
    -fx-background-color: null;
    -fx-background-insets: -0.2, 1, -1.4, 2.6;
}
.scroll-bar:vertical:focused {
    -fx-background-color: null;
}
.scroll-bar > .thumb {
    -fx-background-color: -fx-def-font-color;
    /*-fx-background-insets: 1, 2, 3;*/
    -fx-background-insets: 6, 3, 4;
    /*-fx-background-radius: 0.416667em, 0.333333em, 0.25em; *//* 5, 4,3 */
    -fx-background-radius: 3, 2, 1;
}
.scroll-bar:vertical > .thumb {
    -fx-background-color: -fx-def-font-color;
}
.scroll-bar > .increment-button, 
.scroll-bar > .decrement-button {
    -fx-background-color: null;     
    -fx-color: -fx-def-font-color;
    -fx-padding: 0.25em; /* 3px */
}
.scroll-bar:horizontal > .increment-button,
.scroll-bar:horizontal > .decrement-button {
    -fx-background-insets: 2 1 2 1, 3 2 3 2, 4 3 4 3;
}
.scroll-bar:vertical > .increment-button,
.scroll-bar:vertical > .decrement-button {
    -fx-background-insets: 1 2 1 2, 2 3 2 3, 3 4 3 4;
}
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: rgb(211,211,211);
}
.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: rgb(211,211,211);
}
.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: rgb(211,211,211);
}
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-padding: 0.333em 0.167em 0.333em 0.167em; /* 4 2 4 2 */
    -fx-shape: "M5.997,5.072L5.995,6.501l-2.998-4l2.998-4l0.002,1.43l-1.976,2.57L5.997,5.072z";
    -fx-effect: dropshadow(two-pass-box , -fx-shadow-highlight-color, 1, 0.0 , 0, 1.4);
    /*-fx-background-insets: 2 0 -2 0, 0;*/
}
.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-padding: 0.333em 0.167em 0.333em 0.167em; /* 4 2 4 2 */
    -fx-shape: "M2.998-0.07L3-1.499l2.998,4L3,6.501l-0.002-1.43l1.976-2.57L2.998-0.07z";
    -fx-effect: dropshadow(two-pass-box , -fx-shadow-highlight-color, 1, 0.0 , 0, 1.4);
    /*-fx-background-insets: 2 0 -2 0, 0;*/
}
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-padding: 0.167em 0.333em 0.167em 0.333em; /* 2 4 2 4 */
    -fx-shape: "M1.929,4L0.5,3.998L4.5,1l4,2.998L7.07,4L4.5,2.024L1.929,4z";
    -fx-effect: dropshadow(two-pass-box , -fx-shadow-highlight-color, 1, 0.0 , 0, 1.4);
    /*-fx-background-insets: 2 0 -2 0, 0;*/
}
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-padding: 0.167em 0.333em 0.167em 0.333em; /* 2 4 2 4 */
    -fx-shape: "M7.071,1L8.5,1.002L4.5,4l-4-2.998L1.93,1L4.5,2.976L7.071,1z";
    -fx-effect: dropshadow(two-pass-box , -fx-shadow-highlight-color, 1, 0.0 , 0, 1.4);
    /*-fx-background-insets: 2 0 -2 0, 0;*/
}