## Project

out/
private/
working dir/lib
working dir/jre
working dir/kotlinc
working dir/user
working dir/vlc/
working dir/widgets/**/*class
working dir/PlayerFX.jar
*.log

# Gradle
.gradle/
build/
gradle.properties

## IDE

# Idea
.idea/
*.iml
*.ipr
*.iws

# NetBeans
nbproject/
#nbproject/private/
build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
build.xml
nbbuild.xml
manifest.mf

# Eclipse
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath

## OS

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store
