## Project

private/
working dir/lib
working dir/jre
working dir/java
working dir/kotlinc
working dir/user
working dir/vlc/
working dir/widgets/**/*class
working dir/widgets/META-INF/
working dir/PlayerFX.jar
*.log

# Gradle
.gradle/
build/
gradle.properties

## IDE

# Idea
out/
.idea/*
!.idea/codeStyles/
!.idea/annotations.xml
*.iml
*.ipr
*.iws

# NetBeans
nbproject/
build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
build.xml
nbbuild.xml
manifest.mf

# Eclipse
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
