/*
 * Document : Spit Player skin
 * Author : spit
 * Year: 2023
 */

@import url("../FlowBlack/FlowBlack.css");

* {
    -fx-faint-focus-color: green;
    -fx-focus-color: green;
    -skin-def-font-color-hover: green;
    -skin-def-font-color-transparent: rgba(0,255,0, 0.2);
    -skin-value-font-color: green;
    -skin-window-bgr-blur-color: rgba(0,11,0, 0.80);
    -skin-window-bgr-color-content-free: rgba(0,5,0, 0.85);
    -skin-window-bgr-color-content-free-blur: rgba(0,5,0, 0.80);
}