
.tag-field:readonly {
    -fx-opacity: 0.4;
}

.tag-field:committable {
    -fx-background-color: -skin-color-darker;
    -fx-text-fill: -skin-value-font-color;
    -fx-prompt-text-fill: -skin-prompt-font-color;
}

.color-picker:empty > .color-picker-label {
    visibility: hidden;
}
















