.icon {
    -fx-fill: -fx-focus-color;
}
.icon:hover {
    -fx-fill: -fx-focus-color;
    -fx-effect: none;
}

.seeker-label {
    -fx-text-fill: -fx-focus-color;
    -fx-padding: 1em;
    -fx-font-weight: bold;
}

/*
 * pseudoclasses: focused, readonly
 */
.seeker-circle {
    -fx-max-width: 60;
    -fx-max-height: 60;
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, -skin-color-lighter, transparent 55%, transparent);
    -fx-background-insets: 0;
    -fx-background-radius: 100000; // makes the knob a circle for mouse interaction
}
.seeker-circle .seeker-circle-bgr {
    -fx-fill: transparent;
    -fx-stroke: rgba(220,220,220,0.2);
    -fx-stroke-type: centered;
    -fx-stroke-width: 11;
    -fx-stroke-line-cap: butt;
    -fx-stroke-line-join: miter;
    -fx-stroke-dash-array: null;
}
.seeker-circle .seeker-circle-frg {
    -fx-fill: transparent;
    -fx-stroke: -fx-focus-color;
    -fx-stroke-type: centered;
    -fx-stroke-width: 11;
    -fx-stroke-line-cap: butt;
    -fx-stroke-line-join: miter;
    -fx-effect: dropshadow(gaussian, -fx-focus-color, 10, 0.2 , 0,0);
}
.seeker-circle:focused .seeker-circle-bgr {
    -fx-stroke-dash-array: 5 4;
}
.seeker-circle:focused .seeker-circle-frg {
}

/* inherits .seeker-circle */
.seeker-circle-chapter {
    -fx-background-color: transparent;
}
.seeker-circle-chapter .seeker-circle-bgr {
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
    -fx-effect: null;
}
.seeker-circle-chapter .seeker-circle-frg {
    -fx-stroke: rgba(220,220,220,0.2);
    -fx-stroke-width: 11;
    -fx-effect: null;
}