/*
 * Document : Spit Player skin
 * Author : spit
 * Year: 2021
 */

@import url("../Main/Main.css");

* {
    -skin-def-font-color: red;
    -fx-focus-color: rgb(255,10,111);
    -fx-faint-focus-color: pink;
    -skin-bgr-color: rgba(21,11,31,1);
    -skin-pane-color: rgba(55,0,255,0.1);
    -skin-popup-def-bgr-color: rgba(21,11,51,0.95);
}

/** Add shadow effect */
.list-cell,
.table-cell,
Shape, Text, TextFlow > *,
.label,
.arrow {
    -fx-effect: dropshadow(one-pass-box , rgba(0, 0, 210, 1), 0,0 , -2,-4);
}
.hyperlink,
.markdown-link,
.markdown-code-background,
.color-picker-label {
    -fx-effect: none;
}