
.pane {
    -fx-backgroud-color: white;
}

.nav-pane {}
.nav-pane:hover {
    -fx-backgroud-color: red; /*rgba(0,0,0,0.2);*/
}

.nav {
    -fx-backgroud-color: white;
}

/** 
 * Root of the widget.
 * pseudoclasses: theater
 */
.img-viewer-root {}

.img-viewer-root:theater {
    -fx-background-color: black;
}

/**
 * Pane for thumbnails
 */
.thumbnail-pane {
    -fx-background-color: rgba(0,0,0,0.3);
}

/**
 * Now playing song info panel in the corner in theater mode
 */
.block-alternative {
    -fx-background-color: rgba(20,20,20,0.7);
    -fx-background-radius: 5;
    -fx-text-fill: white;
}
