/* 
    Document    : Skin for ImageViewer widget
    Author      : Martin Polakovic
    Year        : 2015
*/

/** 
 * Root of the widget.
 * pseudoclasses: theater
 */
.imgviewer-root {
    -fx-background-color: null;
}

.imgviewer-root:theater {
    -fx-background-color: black;
}

/** Next/Previous image bars. */
.nav-pane {
    -fx-background-color: rgba(0,0,0,0.6);
}
.nav-pane:hover {
    -fx-background-color: rgba(0,0,0,0.7);
}

/** Pane for thumbnails. */
.thumbnail-pane {
    -fx-background-color: rgba(0,0,0,0.4);
}

/** 
 * Alternative style activated by right click for
 * Now playing song info pane in the corner in theater mode
 */
.block-alternative {
    -fx-background-color: rgba(20,20,20,0.7);
    -fx-background-radius: 5;
    -fx-text-fill: white;
}