/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 1, 2014, 5:12:13 AM
    Author     : Plutonium_
*/

.column-header-background { 
    visibility: hidden;
    -fx-padding: -1em;
}