/*
    Document    : Flow+
    Author      : Martin Polakovic
    Description : Flow skin with window bgr and icon dropshadow effects
*/

@import url("../Flow/Flow.css");

.bgr-image {
    -fx-opacity: 1;
    -fx-background-image: url("bgr.jpg");
    -fx-background-size: stretch;
}

.icon {
    /* decreases performance */
    -fx-effect: dropshadow(gaussian, rgba(130,170,255, 0.5), 12, 0.2 , 0, 0);
}

.icon:hover {
    -fx-fill: -fx-focus-color;
    -fx-border-color:  -fx-focus-color;
    -fx-effect: dropshadow(gaussian, yellow, 12, 0.2 , 0, 0);
}