
/** 
 * Root of the widget.
 * pseudoclasses: theater
 */
.img-viewer-root {
    -fx-background-color: null;
}

.img-viewer-root:theater {
    -fx-background-color: black;
}

/** Next/Previous image bars. */
.nav-pane {
    -fx-background-color: rgba(0,0,0,0.6);
}
.nav-pane:hover {
    -fx-background-color: rgba(0,0,0,0.7);
}

/** Next/Previous image icons. */
.nav-pane > .nav-icon {
    -glyph-size: 2em;
}

/**
 * Alternative style activated by right click for
 * Now playing song info pane in the corner in theater mode
 */
.block-alternative {
    -fx-background-color: rgba(20,20,20,0.7);
    -fx-background-radius: 5;
    -fx-text-fill: white;
}