
/** Inherits: StackPane */
.game-cell-play-placeholder {
    -fx-padding: 3;
    -fx-background-color: -skin-bgr-color;
    -fx-background-color: linear-gradient(to right, -skin-bgr-color 0%, ladder(rgba(0,55,255), -skin-bgr-color, transparent), -skin-bgr-color 100%);
    -fx-max-height: 4em;
}
.game-cell-play-placeholder > VBox {
    -fx-translate-y: -0.5em;
    -fx-spacing: -10;
}

/** Inherits: .icon */
.game-cell-play-placeholder .icon {}

/** Inherits: Text */
.game-cell-play-placeholder .label {
    -fx-font-weight: bold;
}