/* 
 * Document : Spit Player skin
 * Author : Martin Polakovic
 * Year: 2017
 */

@import url("../Main/Main.css");

* {
    -skin-bgr-color: rgb(0, 0, 35);
    -skin-popup-def-bgr-color: rgba(15,15,50,0.95);
    -skin-def-icon-border-color: rgba(130,180,240, 0.2);
}

/* Add background. */
.bgr-image {
    -fx-opacity: 0.2;
    -fx-background-image: url("bgr.png");
    -fx-background-size: stretch;
}

/** Add focus effect */
.icon:hover {
    -fx-fill: -fx-focus-color;
}
.accordion .titled-pane:focused > .title > .arrow-button .arrow,
.accordion .titled-pane:expanded > .title > .arrow-button .arrow,
.accordion .titled-pane:expanded:focused > .title > .arrow-button .arrow {
    -fx-background-color: -fx-focus-color;
}
.accordion .titled-pane:focused > .title,
.accordion .titled-pane:expanded > .title,
.accordion .titled-pane:expanded:focused > .title {
    -fx-text-fill: -fx-focus-color;
}

/** Add glow effect */
.icon {
    -fx-effect: dropshadow(gaussian, rgba(0,100,255, 1), 25, 0.2 , 0, 0);   /* decreases performance */
}

/** Add focus glow effect */
.icon:hover,
.inode:hover Text,
.onode:hover Text,
.ionode:hover Text,
.inode:highlighted Text,
.onode:highlighted Text,
.ionode:highlighted Text,
.inode:hover,
.onode:hover,
.ionode:hover,
.inode:highlighted,
.onode:highlighted,
.ionode:highlighted,
.iolink:hover,
.iolink:highlighted,
.table-row-cell:played > .indexed-cell:played,
.table-row-cell:played > .indexed-cell:played:selected,
.accordion .titled-pane:focused > .title > .arrow-button .arrow,
.accordion .titled-pane:expanded > .title > .arrow-button .arrow,
.accordion .titled-pane:expanded:focused > .title > .arrow-button .arrow,
.accordion .titled-pane:focused > .title,
.accordion .titled-pane:expanded > .title,
.accordion .titled-pane:expanded:focused > .title {
    -fx-effect: dropshadow(gaussian, -fx-focus-color, 12,0 , 0,0);
}