/* 
    Document    : Flow
    Author      : Martin Polakovic
    Description : skin
*/

@import url("../Main/Main.css");

* {
    -skin-bgr-color: rgb(0, 10, 25);
    -skin-def-font-color: rgb(190, 190, 195);
    -skin-def-icon-border-color: rgba(130,180,240, 0.2);
    -skin-sel-font-color: rgb(175, 175, 176);
    -skin-prompt-font-color: rgba(165, 165, 165, 0.4);
    -skin-pane-color: rgba(100,130,180,0.1);
    -skin-pane-color-dragged: rgba(0,0,0,0.3);
    -skin-popup-def-bgr-color: rgba(15,30,55,0.9);
    -skin-def-font-color-hover: #ffcc66;
    -skin-value-font-color: rgb(75, 175, 105);
    -fx-focus-color: #ffcc66;
    -fx-faint-focus-color: #ffcc66;
}

.icon {
    -glyph-gap: 12;

    -fx-border-color: -skin-def-icon-border-color;
    -fx-border-width: 0.083333em; /* 1 */
    -fx-border-radius: 11111; /* big value to always achieve perfect circle */

    -fx-effect: none;
}

.icon:hover {
    -fx-fill: -fx-focus-color;
    -fx-border-color:  -fx-focus-color;
    -fx-effect: dropshadow(gaussian, rgb(130,170,255), 12,0 , 0,0);
}

/** Remove icon border from specified .icon elements */
.inode,
.onode,
.ionode,
.icon-info-icon,
.icon-info-icon:hover,
.search-icon-sign,
.search-icon-sign:hover,
.resize-content-icon,
.resize-content-icon:hover,
.config-field-default-button,
.config-field-default-button: hover,
.config-field-warn-button,
.config-field-warn-button: hover,
.value-text-field-arrow,
.value-text-field-arrow: hover {
    -fx-border-width: 0.0
}

.inode:hover Text,
.onode:hover Text,
.ionode:hover Text,
.inode:highlighted Text,
.onode:highlighted Text,
.ionode:highlighted Text,
.inode:hover,
.onode:hover,
.ionode:hover,
.inode:highlighted,
.onode:highlighted,
.ionode:highlighted {
    -fx-effect: dropshadow(gaussian, rgb(130,170,255), 12,0 , 0,0);
    -fx-border-width: 0.0
}

.iolink:hover,
.iolink:highlighted {
    -fx-effect: dropshadow(gaussian, rgb(130,170,255), 12,0 , 0,0);
}

.inode:selected,
.onode:selected,
.ionode:selected {
    -fx-border-width: 0.083333em; /* 1 */
}

.indexed-cell,
.table-row-cell,
.table-row-cell:played,
.table-row-cell:played:selected {
    -fx-effect: none;
}

.table-row-cell:played > .indexed-cell:played,
.table-row-cell:played > .indexed-cell:played:selected {
    -fx-text-fill: -fx-focus-color;
    -fx-underline: false;
    -fx-effect: dropshadow(gaussian, -fx-focus-color, 9,0 , 0,0);
}

.table-row-cell:corrupt > .indexed-cell,
.table-row-cell:corrupt:selected > .indexed-cell {
    -fx-text-fill: red;
}

.menu-item:focused > .label {
    -fx-text-fill: -fx-focus-color;
}
.menu-item:focused {
    -fx-background-color: null;
}

.accordion .titled-pane:focused > .title > .arrow-button .arrow,
.accordion .titled-pane:expanded > .title > .arrow-button .arrow,
.accordion .titled-pane:expanded:focused > .title > .arrow-button .arrow {
    -fx-background-color: -fx-focus-color;
    -fx-effect: dropshadow(gaussian, -fx-focus-color, 9,0 , 0,0);
}

.accordion .titled-pane:focused > .title,
.accordion .titled-pane:expanded > .title,
.accordion .titled-pane:expanded:focused > .title {
    -fx-text-color: -fx-focus-color;
    -fx-effect: dropshadow(gaussian, -fx-focus-color, 9,0 , 0,0);
}