/*
 * Document : Spit Player skin
 * Author : spit
 * Year: 2017
 */

@import url("../Main/Main.css");

* {
    -skin-bgr-color: rgb(0, 0, 35);
    -skin-popup-def-bgr-color: rgba(15,15,50,0.95);
    -skin-def-icon-border-color: rgba(130,180,240, 0.2);
}

/* Add background. */
.bgr-image {
    -fx-opacity: 0.2;
    -fx-background-image: url("bgr.png");
    -fx-background-size: stretch;
}

/** Add focus effect */
.icon:hover {
    -fx-fill: -fx-focus-color;
}
.accordion .titled-pane:focused > .title > .arrow-button .arrow,
.accordion .titled-pane:expanded > .title > .arrow-button .arrow,
.accordion .titled-pane:expanded:focused > .title > .arrow-button .arrow {
    -fx-background-color: -fx-focus-color;
}
.accordion .titled-pane:focused > .title,
.accordion .titled-pane:expanded > .title,
.accordion .titled-pane:expanded:focused > .title {
    -fx-text-fill: -fx-focus-color;
}

/** Add glow effect */
.icon {
    -fx-effect: dropshadow(gaussian, rgba(0,100,255, 1), 25, 0.2 , 0, 0);   /* decreases performance */
}

/** Add focus glow effect */
.icon:hover,
.inode:hover Text,
.onode:hover Text,
.ionode:hover Text,
.inode:highlighted Text,
.onode:highlighted Text,
.ionode:highlighted Text,
.inode:hover,
.onode:hover,
.ionode:hover,
.inode:highlighted,
.onode:highlighted,
.ionode:highlighted,
.iolink:hover,
.iolink:highlighted,
.table-row-cell:played > .indexed-cell:played,
.table-row-cell:played > .indexed-cell:played:selected,
.accordion .titled-pane:focused > .title > .arrow-button .arrow,
.accordion .titled-pane:expanded > .title > .arrow-button .arrow,
.accordion .titled-pane:expanded:focused > .title > .arrow-button .arrow,
.accordion .titled-pane:focused > .title,
.accordion .titled-pane:expanded > .title,
.accordion .titled-pane:expanded:focused > .title {
    -fx-effect: dropshadow(gaussian, -fx-focus-color, 12,0 , 0,0);
}

/** Cooler scroll-bar */
.scroll-bar > .thumb,
.scroll-bar:horizontal > .thumb,
.virtual-flow > .scroll-bar > .thumb,
.virtual-flow > .scroll-bar:horizontal > .thumb,
.text-area > .scroll-pane > .scroll-bar > .thumb,
.text-area > .scroll-pane > .scroll-bar:horizontal > .thumb,
.list-view > .virtual-flow > .scroll-bar > .thumb,
.list-view > .virtual-flow > .scroll-bar:horizontal > .thumb,
.tree-view > .virtual-flow > .scroll-bar > .thumb,
.tree-view > .virtual-flow > .scroll-bar:horizontal > .thumb,
.table-view > .virtual-flow > .scroll-bar > .thumb,
.table-view > .virtual-flow > .scroll-bar:horizontal > .thumb,
.tree-table-view > .virtual-flow > .scroll-bar > .thumb,
.tree-table-view > .virtual-flow > .scroll-bar:horizontal > .thumb {
    -fx-padding: 0;
    -fx-background-color: -skin-def-font-color;
    -fx-background-insets: 0.825em;
    -fx-background-radius: 1em; /* 3px */
    -fx-background-color: linear-gradient(from 0% 100% to 100% 100%, transparent 0%, -skin-def-font-color 50%, transparent 100%);
}
.scroll-bar > .thumb,
.scroll-bar:vertical > .thumb,
.virtual-flow > .scroll-bar > .thumb,
.virtual-flow > .scroll-bar:vertical > .thumb,
.text-area > .scroll-pane > .scroll-bar > .thumb,
.text-area > .scroll-pane > .scroll-bar:vertical > .thumb,
.list-view > .virtual-flow > .scroll-bar > .thumb,
.list-view > .virtual-flow > .scroll-bar:vertical > .thumb,
.tree-view > .virtual-flow > .scroll-bar > .thumb,
.table-view > .virtual-flow > .scroll-bar > .thumb,
.table-view > .virtual-flow > .scroll-bar:vertical > .thumb,
.tree-table-view > .virtual-flow > .scroll-bar > .thumb,
.tree-table-view > .virtual-flow > .scroll-bar:vertical > .thumb {
    -fx-padding: 0;
    -fx-background-color: -skin-def-font-color;
    -fx-background-insets: 0.825em;
    -fx-background-radius: 0em;
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, transparent 0%, -skin-def-font-color 50%, transparent 100%);
}