/* 
    Document    : Flow
    Author      : Martin Polakovic
    Description : skin
*/

.root {

    skin-main-color: rgb(150,200,220);

    -fx-font-family: "Arial";
    -fx-font-size: 11;
    -fx-def-font-color: rgb(130,180,220);
    -fx-sel-font-color: rgb(175, 175, 176);
    -fx-prompt-font-color: rgb(165, 165, 165);
    
    -fx-pane-color: rgba(0,10,30,0.5);
    -fx-popup-def-bgr-color: rgba(15,30,55,0.8);

    -fx-focus-color: #ffcc66;
    -fx-faint-focus-color: #ffcc66;
    -fx-def-font-color-hover: #ffcc66;
}

.block {
    -fx-background-color: -fx-pane-color;
}


.window > * > .bgr-image {
    -fx-opacity:1;
    -fx-background-image: url("bgr.jpg");
    -fx-background-size: stretch;
}

.header {
    -fx-background-color: rgb(0,0,20);  // emulate -fx-pane-color - bugfix
    -fx-opacity: 0.4;                   // emulate -fx-pane-color - bugfix
}


.icon {
    -fx-fill: -fx-def-font-color;
    // causes animations run slightly jerky
    -fx-effect: dropshadow(gaussian, rgb(130,170,255), 12,0 , 0,0);
}

.icon:hover {
    -fx-fill: -fx-focus-color;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect: dropshadow(gaussian, yellow, 12,0 , 0,0);
}

// an icon with glow effect on hover
.glow-icon,
.glow-icon:hover {
    -fx-effect: none;
    -fx-fill: -fx-def-font-color;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

// inherits: .icon
.seeker-add-chapter-button,
.seeker-add-chapter-button:hover {
    -fx-effect: none;
}


.indexed-cell:played,
.indexed-cell:played:selected {
    -fx-text-fill: -fx-focus-color;
    -fx-underline: false;
    -fx-effect: dropshadow(gaussian, -fx-focus-color, 9,0 , 0,0);
}
.indexed-cell,
.table-row-cell,
.table-row-cell:played,
.table-row-cell:played:selected {
    -fx-effect: none;
}

.indexed-cell:corrupt,
.indexed-cell:corrupt:selected {
    -fx-text-fill: red;
}



.combo-box-base,
.combo-box-base:editable,
.choice-box,
.choice-box:showing,
.text-input {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 2;
    -fx-padding: 3 5 2 5;
    -fx-text-fill: -fx-def-font-color;
    -fx-prompt-text-fill: -fx-def-font-color;
    -fx-effect: null;
}

.combo-box-base:hover,
.combo-box-base:editable:hover,
.combo-box-base:showing:hover,
.choice-box:hover,
.text-input:hover {
    -fx-background-color: rgba(0,0,0,0.1);
    -fx-background-insets: 0;
    -fx-background-radius: 2;
    -fx-padding: 3 5 2 5;
    -fx-text-fill: -fx-def-font-color;
    -fx-prompt-text-fill: -fx-def-font-color;
    -fx-effect: null;
}

.combo-box-base:focused,
.combo-box-base:editable:focused,
.combo-box-base:showing:focused,
.choice-box:focused,
.text-input:focused {
    -fx-background-color: rgba(0,0,0,0.2);
    -fx-background-insets: 0;
    -fx-background-radius: 2;
    -fx-padding: 3 5 2 5;
    -fx-text-fill: -fx-def-font-color;
    -fx-prompt-text-fill: -fx-def-font-color;
    -fx-effect: null;
}
.combo-box:hover > .list-cell, 
.combo-box > .list-cell {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 2;
    -fx-text-fill:-fx-def-font-color;
    -fx-padding: 0;
    -fx-effect: null;
}

.menu-item:focused > .label {
    -fx-text-fill: -fx-focus-color;
}
.menu-item:focused {
    -fx-background-color: null;
}

.accordion .titled-pane:focused > .title > .arrow-button .arrow,
.accordion .titled-pane:expanded > .title > .arrow-button .arrow,
.accordion .titled-pane:expanded:focused > .title > .arrow-button .arrow {
    -fx-background-color: -fx-focus-color;
    -fx-effect: dropshadow(gaussian, -fx-focus-color, 9,0 , 0,0);
}

.accordion .titled-pane:focused > .title,
.accordion .titled-pane:expanded > .title,
.accordion .titled-pane:expanded:focused > .title {
    -fx-text-color: -fx-focus-color;
    -fx-effect: dropshadow(gaussian, -fx-focus-color, 9,0 , 0,0);
}



// not sure why we need to redefine this or focus color wont get applied
.text-field-config:edited,
.text-field-config:hover:edited,
.text-field-config:focused:edited {
    -fx-text-fill: -fx-focus-color;
    -fx-prompt-text-fill: -fx-def-font-color;
}

.combobox-field-config:edited > .list-cell {
    -fx-text-fill: -fx-focus-color;
    -fx-prompt-text-fill: -fx-def-font-color;
}


.combo-box-popup > .list-view {
    -fx-padding: 5;
    -fx-background-color: -fx-popup-def-bgr-color;
    //-fx-background-insets:  0 -5 -5 -5; //expands menu bgr left,bottom,right
    -fx-background-radius: 0;
    -fx-border-width: 1;
    -fx-stroke: -fx-def-font-color; 
    -fx-stroke-width: 2;
    -fx-fill: null; // bgr of the shape the path makes - we dont want any 
}
    -fx-border-color: black;
    //-fx-border-insets:  0 -5 -5 -5;
    -fx-effect: null;
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 3;
    -fx-background-color: null;
    -fx-text-fill:-fx-def-font-color;
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background: null;
    -fx-background-color: null;
    -fx-text-fill: -fx-focus-color;
}
.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover,
.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background: null;
    -fx-background-color: null;
    -fx-text-fill: -fx-focus-color;
}
.combo-box-popup > .list-view > .placeholder > .label {
    -fx-text-fill: derive(-fx-control-inner-background,-30%);
}



.text-area > .scroll-pane > .scroll-bar > .thumb {
    -fx-background-color: -fx-def-font-color;
    -fx-background-insets: 5.5;
    -fx-background-radius: 3;
}


// BUGFIX, doesnt get applied
.congfig-field-warn-button {
    -fx-fill: -fx-focus-color;
}









/** 
 * Pane border created with path.
 * The path is build out of multiple path objects and does not necessarily create 
 * a single visual shape
 * extends .path, .shape
 */
.path-border {
    -fx-fill: null;
    -fx-stroke: -fx-def-font-color;
    -fx-stroke-width: 0; /* originally 2 */
    -fx-stroke-type: inside;
}

/** 
 * Area pane border.
 * inherits: .path-border.
 */
.area-path-border {
    -fx-fill: null;
    -fx-stroke: -fx-pane-color;
    -fx-stroke-width: 0;  /* originally 2 */
    -fx-stroke-type: inside ;
    -fx-stroke-line-cap: butt;
}

/**
 * Widget area
 * pseudoclasses: dragged
 */
.area {
    -fx-background-color: -fx-pane-color;
    /*
    default padding for all widgets
    note: widgets shouldnt have their own padding to remain consistent
    */
    -fx-padding: 4 ;
    -fx-background-insets: 0; /* margin, by default set to area-path-border width */

    -fx-border-width: 0.5;
    -fx-border-radius: 5;
    -fx-border-color:   linear-gradient(from 0% 0% to 100% 100%, transparent 80%, -fx-def-font-color 100%)
                        linear-gradient(from 0% 0% to 100% 100%, -fx-def-font-color 0%, transparent 20%)
                        linear-gradient(from 0% 0% to 100% 100%, -fx-def-font-color 0%, transparent 20%)
                        linear-gradient(from 0% 0% to 100% 100%, transparent 80%, -fx-def-font-color 100%);
}






.split-pane:horizontal > .split-pane-divider {
   -fx-border-color: transparent;
   -fx-background-color: -fx-pane-color;
   //-fx-padding: 0.0;
}
.split-pane:vertical > .split-pane-divider {
   -fx-border-color: transparent;
   -fx-background-color: -fx-pane-color;
   //-fx-padding: 1;
}
.split-pane *.vertical-grabber {
    -fx-padding: 1 111 1 111;
    -fx-background-color: linear-gradient(from 0% 100% to 100% 100%, transparent 0%, -fx-def-font-color 50%, transparent 100%);
    -fx-background-insets: 0;
}
.split-pane *.horizontal-grabber {
    -fx-padding: 111 1 111 0.5;
    -fx-background-color: linear-gradient(from 100% 0% to 100% 100%, transparent 0%, -fx-def-font-color 50%, transparent 100%);
    -fx-background-insets: 0;
}

.split-pane:collapsed > .split-pane-divider {
   -fx-background-color: -fx-pane-color;
   -fx-padding: 6;
}