/* 
    Document    : Default
    Author      : Martin Polakovic
    Description : skin
*/

.root {

    skin-main-color: rgb(19,15,22);

    -fx-font-family: "Arial";
    -fx-font-size: 11;
    -fx-def-font-color: rgb(170,150,180);
    -fx-def-font-color-hover: rgb(190,205,220);
    -fx-sel-font-color: rgb(175, 175, 176);
    -fx-prompt-font-color: rgb(165, 165, 165);
    
    -fx-pane-color: derive(skin-main-color,15%);
}

.block {
    -fx-background-color: -fx-pane-color;
}


.window > .brg-image {
    -fx-opacity:1;
    -fx-background-color: skin-main-color;
}


.header {
   -fx-background-color: derive(skin-main-color,10%);
}
.window:focused > .header {
    // lets signal which window has focus by altering the header border
    // improve this
    -fx-border-color: 
        transparent transparent derive(-fx-pane-color,50%) transparent,
        derive(-fx-pane-color,80%) rgba(0, 0, 222, 0.3) rgba(0, 0, 0, 0.3) derive(-fx-pane-color,80%);
    -fx-border-width: 2.5, 2.5;
    -fx-border-insets: -2, -1;
}

.window > .w-border {
    -fx-background-color: -fx-pane-color;
}

.item-picker-element {
    -fx-background-color: -fx-pane-color;
    -fx-padding: 0.3em 0.7em 0.3em 0.7em;
}
.item-picker-element:hover {
    -fx-background-color: rgba(20,20,30,0.85);
    -fx-background-insets: -0.2em -0.2em -0.2em -0.2em;
}