/*
 * Document : Spit Player skin extension
 * Author : spit
 * Year: 2020
 */

// do not highlight as not content
.window .header {
    -fx-background-color: rgba(0,0,0,0.01);
}
.window:transparent    .header,
.window:transparent-ct .header {
     -fx-background-color: -skin-popup-def-bgr-color;
}
.window:transparent .header {
    -fx-background-color: transparent;
}

// top/bottom padding makes the content pop up more
// left/right padding is half of that because it stacks
.switch-pane-tab:left {
    -fx-padding: 0 1em 0 0;
}
.switch-pane-tab:center {
    -fx-padding: 0 0 0 0;
}
.switch-pane-tab:right {
    -fx-padding: 0 0 0 1em;
}

// tab gap simulates split-pane-divider
.switch-pane-tab .switch-pane-tab-bgr {
    -fx-min-height: 222; // 2*split-pane-divider.padding
    -fx-pref-height: 222;
    -fx-max-height: 222;
    -fx-border-insets: -4;
    -fx-border-width: 4;
    -fx-border-color:
        transparent
        radial-gradient(center 0% 50%, radius 50%, -skin-def-font-color, transparent)
        transparent
        radial-gradient(center 100% 50%, radius 50%, -skin-def-font-color, transparent)
}
.window:transparent .switch-pane-tab .switch-pane-tab-bgr {
    -fx-border-color: rgba(0,0,0,0.01);
}

// disable focusing
.widget-ui,
.widget-ui:layout-mode {
    -fx-background-insets: 0em;
}
.widget-ui .widget-ui-content {
    -fx-border-insets: 0em;
}

// divider is transparent gap with border on content edges
.container-ui .split-pane .split-pane-divider {
    -fx-padding: 0.5em;
    -fx-background-color: transparent;
}
.container-ui:layout-mode .split-pane .split-pane-divider {
    -fx-background-color: transparent;
    -fx-opacity: 0.0;
}
.container-ui .split-pane *.vertical-grabber,
.container-ui:layout-mode .split-pane *.vertical-grabber {
    -fx-padding: 0.5em 111 0.5em 111;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-width: 1;
    -fx-border-color:
        linear-gradient(from 0% 100% to 100% 100%, transparent 0%, -skin-def-font-color 50%, transparent 100%)
        transparent
        linear-gradient(from 0% 100% to 100% 100%, transparent 0%, -skin-def-font-color 50%, transparent 100%)
        transparent
}
.container-ui .split-pane *.horizontal-grabber,
.container-ui:layout-mode .split-pane *.horizontal-grabber {
    -fx-padding: 111 0.5em 111 0.5em;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-width: 1;
    -fx-border-color:
        transparent
        linear-gradient(from 100% 0% to 100% 100%, transparent 0%, -skin-def-font-color 50%, transparent 100%)
        transparent
        linear-gradient(from 100% 0% to 100% 100%, transparent 0%, -skin-def-font-color 50%, transparent 100%)
}

// joined divider has width 0
.container-ui .split-pane:joined .split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: transparent;
}
.container-ui:layout-mode .split-pane:joined .split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-opacity: 0.0;
}
.container-ui .split-pane:joined *.vertical-grabber,
.container-ui:layout-mode .split-pane:joined *.vertical-grabber {
    -fx-border-color: transparent;
    -fx-padding: 0 111 0 111;
}
.container-ui .split-pane:joined *.horizontal-grabber,
.container-ui:layout-mode .split-pane:joined *.horizontal-grabber {
    -fx-border-color: transparent;
    -fx-padding: 111 0 111 0;
}